{% extends "base.html" %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About</h1>
            <p class="lead fw-normal text-white-50 mb-0">"Welcome to Shoppify"</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <p class="align-justify">Welcome to Shoppify, your trusted online shopping destination. Our mission is to provide a seamless and enjoyable shopping experience by offering a wide range of quality products at competitive prices. We are passionate about customer satisfaction, and our team is dedicated to curating the best selections for you. With a focus on innovation, convenience, and security, we strive to meet all your shopping needs with just a few clicks.

            Thank you for choosing us as your go-to e-commerce platform!</p>
        </div>
    </div>
</section>
{% endblock  %}